@using Microsoft.AspNetCore.Identity
@model PaginatedList<Recipe>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    string sortValue = Context.Request.Query["sortOrder"].ToString();
    var prevDisabled = Model.PageIndex == 1 ? "disabled" : "";
    var nextDisabled = Model.PageIndex == Model.TotalPages ? "disabled" : "";
}
<h1>Recipes</h1>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Recipe List </h2>
        </div>
        <div class="col-6 text-end" style="padding:0;">
            <a asp-controller="Recipe" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp; Create New Recipe</a>
        </div>
    </div>
</div>

<form asp-action="Index" method="get">
    <div class="form-actions d-flex align-items-baseline justify-content-between">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
        <a asp-action="Index">Back to Full List</a>

    </div>
</form>

<table class="table table-bordered w-100">
    <thead>
        <tr class="table-primary">
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">Id</a>
            </th>
            <th>Author</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">Title</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">Date Created</a>
            </th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>
                    @if (obj.AuthorId == null)
                    {
                        @("[Deleted User]")
                    }
                    else
                    {
                        @UserManager.FindByIdAsync(obj.AuthorId).Result.UserName
                    }
                </td>
                <td>@obj.Title</td>
                <td>@obj.CreatedDateTime.ToString("MMMM dd, yyyy")</td>
                <td class="d-flex justify-content-evenly">
                    <a asp-controller="Recipe" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-info"><i class="bi bi-search"></i> &nbsp; Detail View</a>
                    <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning"><i class="bi bi-pencil-square"></i> &nbsp; Edit Recipe</a>
                    <!-- Former Delete Button
                    <a asp-controller="Recipe" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"><i class="bi bi-trash"></i> &nbsp; Delete Recipe</a>
                    -->
                    <!-- Button trigger modal -->
                    <button type="button" onclick="addModalInfo" class="btn btn-danger modalButton" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        <i class="bi bi-trash"></i> &nbsp; Delete Recipe
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   class="btn btn-light @prevDisabled">
    Previous
</a>

@for (int i = 1; i <= Model.TotalPages; i++)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@i"
       asp-route-searchString="@ViewData["CurrentFilter"]"
       class="btn @(Model.PageIndex == i ? "btn-primary" : "btn-light")">
        @i
    </a>
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   class="btn btn-light @nextDisabled">
    Next
</a>

<script>
    document.addEventListener("click", function (e) {

        const target = e.target;
        if (target.classList.contains("modalButton")) {
            let targetRow = target.parentElement.parentElement.cells;
            let cellData = [targetRow[0].innerText, targetRow[1].innerText, targetRow[2].innerText];

            console.log(cellData);

            let form = document.getElementById("modalForm");
            form[0].value = cellData[1];
            form[1].value = cellData[2];

            let deleteButton = document.querySelector(".confirmDelete");
            deleteButton.href = "Recipe/Delete/" + cellData[0];

            console.log(deleteButton.href);
        }
    })

</script>

<!-- Modal -->
@{
    <partial name="_DeletePartial" />
}
